/* Siia tulevad stiili muudatused mis hõlmavad esilehte ehk kalkulaatorit */

:root {
    --main-bg-color: white;
    --text-container-bg-color: rgb(133, 133, 133);
    --calc-container-bg-color: rgb(75, 75, 75);
}

#calculatorContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding: 4%;
    margin: auto;
    max-width: 200px;
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: var(--calc-container-bg-color);
}

label, input {
    display: flex;
    align-self: center;
    justify-content: center;
}

#submitContainer {
    text-align: center;
}