/* Tühi fail struktuuri näitamiseks */
/* Siia tulevad stiili muudatused mis hõlmavad kõiki lehti */

:root {
    --main-bg-color: white;
    --text-container-bg-color: rgb(133, 133, 133);
    --calc-container-bg-color: rgb(75, 75, 75);
}

.textContainer {
    margin: 2%;
    padding: 4%;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--text-container-bg-color);
}

#calculatorContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding: 4%;
    margin: auto;
    max-width: 200px;
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: var(--calc-container-bg-color);
}

label, input {
    display: flex;
    align-self: center;
    justify-content: center;
}

#submitContainer {
    text-align: center;
}

#descriptiveText {
    text-align: justify;
    background-color: var(--text-container-bg-color);
}