/* Siia tulevad stiili muudatused mis hõlmavad kõiki lehti */

:root {
    --main-bg-color: white;
    --text-container-bg-color: rgb(133, 133, 133);
    --calc-container-bg-color: rgb(75, 75, 75);
}

h1,h2 {
    text-align: center;
}

.textContainer {
    margin: 2%;
    padding: 4%;
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: var(--text-container-bg-color);
}

.descriptiveText {
    text-align: center;
}

.infoText {
    text-align: justify;
}