*{padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #EAECEE  0%,
    #EAECEE  25%,
    #D0D3D4 25%,
    #D0D3D4 75%,
    #EAECEE  75%,
    #EAECEE 100%
  );
}

.kass {
  position:absolute; 
  left: 30px; 
  top: 20px;
  width: 200px;
}


h1 {position:absolute; left: 300px; top: 150px; 
  font-family:Lato;
  font-size: xx-large;
  font-style: bold;
}

h2 {position:absolute; 
  left: 300px; top: 350px; 
  font-family: Lato; 
  font-size: larger;
}

.button 
{ padding: 8px 25px;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color:black;
  background-color:#D0D3D4;
  border-radius: 20px;
  box-shadow: 0 10px #999;
}

.button:hover {background-color:#EAECEE}

.button:active {
  background-color: #007095;
  box-shadow: 0 5px rgb(25, 25, 25);
  transform: translateY(5px);
}